NikADFTest/PartialArmTemplates/ArmTemplate_4_5_2021_10_50_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NikADFTest"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GetEmails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download Messages",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "Office365Source",
								"dateFilterColumn": "receivedDateTime",
								"startTime": "2021-01-01T00:00:00.000Z",
								"endTime": "2021-12-31T00:00:00.000Z",
								"userScopeFilterUri": "",
								"outputColumns": [
									{
										"name": "receivedDateTime"
									},
									{
										"name": "sentDateTime"
									},
									{
										"name": "hasAttachments"
									},
									{
										"name": "internetMessageId"
									},
									{
										"name": "subject"
									},
									{
										"name": "importance"
									},
									{
										"name": "parentFolderId"
									},
									{
										"name": "sender"
									},
									{
										"name": "from"
									},
									{
										"name": "toRecipients"
									},
									{
										"name": "ccRecipients"
									},
									{
										"name": "bccRecipients"
									},
									{
										"name": "replyTo"
									},
									{
										"name": "conversationId"
									},
									{
										"name": "uniqueBody"
									},
									{
										"name": "isDeliveryReceiptRequested"
									},
									{
										"name": "isReadReceiptRequested"
									},
									{
										"name": "isRead"
									},
									{
										"name": "isDraft"
									},
									{
										"name": "webLink"
									},
									{
										"name": "createdDateTime"
									},
									{
										"name": "lastModifiedDateTime"
									},
									{
										"name": "changeKey"
									},
									{
										"name": "categories"
									},
									{
										"name": "id"
									},
									{
										"name": "attachments"
									},
									{
										"name": "inferenceClassification"
									},
									{
										"name": "flag"
									},
									{
										"name": "body"
									},
									{
										"name": "bodyPreview"
									},
									{
										"name": "internetMessageHeaders"
									},
									{
										"name": "conversationIndex"
									}
								]
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Office365Table1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Binary1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Download Users",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "Office365Source",
								"userScopeFilterUri": "",
								"outputColumns": [
									{
										"name": "aboutMe"
									},
									{
										"name": "accountEnabled"
									},
									{
										"name": "ageGroup"
									},
									{
										"name": "assignedLicenses"
									},
									{
										"name": "assignedPlans"
									},
									{
										"name": "birthday"
									},
									{
										"name": "businessPhones"
									},
									{
										"name": "city"
									},
									{
										"name": "companyName"
									},
									{
										"name": "consentProvidedForMinor"
									},
									{
										"name": "country"
									},
									{
										"name": "createdDateTime"
									},
									{
										"name": "department"
									},
									{
										"name": "displayName"
									},
									{
										"name": "givenName"
									},
									{
										"name": "hireDate"
									},
									{
										"name": "id"
									},
									{
										"name": "imAddresses"
									},
									{
										"name": "interests"
									},
									{
										"name": "jobTitle"
									},
									{
										"name": "legalAgeGroupClassification"
									},
									{
										"name": "mail"
									},
									{
										"name": "mailNickname"
									},
									{
										"name": "mobilePhone"
									},
									{
										"name": "mySite"
									},
									{
										"name": "officeLocation"
									},
									{
										"name": "onPremisesImmutableId"
									},
									{
										"name": "onPremisesLastSyncDateTime"
									},
									{
										"name": "onPremisesSecurityIdentifier"
									},
									{
										"name": "onPremisesSyncEnabled"
									},
									{
										"name": "passwordPolicies"
									},
									{
										"name": "pastProjects"
									},
									{
										"name": "postalCode"
									},
									{
										"name": "preferredLanguage"
									},
									{
										"name": "preferredName"
									},
									{
										"name": "provisionedPlans"
									},
									{
										"name": "proxyAddresses"
									},
									{
										"name": "responsibilities"
									},
									{
										"name": "schools"
									},
									{
										"name": "skills"
									},
									{
										"name": "state"
									},
									{
										"name": "streetAddress"
									},
									{
										"name": "surname"
									},
									{
										"name": "usageLocation"
									},
									{
										"name": "userPrincipalName"
									},
									{
										"name": "userType"
									}
								]
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Office365Users",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Binary1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Download Messages",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Download Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergeData",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Office365Table1')]",
				"[concat(variables('factoryId'), '/datasets/Binary1')]",
				"[concat(variables('factoryId'), '/datasets/Office365Users')]",
				"[concat(variables('factoryId'), '/dataflows/MergeData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "mgdc"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "mgdc"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"createdDateTime": {
							"type": "string"
						},
						"lastModifiedDateTime": {
							"type": "string"
						},
						"changeKey": {
							"type": "string"
						},
						"categories": {
							"type": "array"
						},
						"receivedDateTime": {
							"type": "string"
						},
						"sentDateTime": {
							"type": "string"
						},
						"hasAttachments": {
							"type": "boolean"
						},
						"internetMessageId": {
							"type": "string"
						},
						"subject": {
							"type": "string"
						},
						"bodyPreview": {
							"type": "string"
						},
						"importance": {
							"type": "string"
						},
						"parentFolderId": {
							"type": "string"
						},
						"conversationId": {
							"type": "string"
						},
						"conversationIndex": {
							"type": "string"
						},
						"isDeliveryReceiptRequested": {
							"type": "null"
						},
						"isReadReceiptRequested": {
							"type": "boolean"
						},
						"isRead": {
							"type": "boolean"
						},
						"isDraft": {
							"type": "boolean"
						},
						"webLink": {
							"type": "string"
						},
						"inferenceClassification": {
							"type": "string"
						},
						"internetMessageHeaders": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"value": {
										"type": "string"
									}
								}
							}
						},
						"body": {
							"type": "object",
							"properties": {
								"contentType": {
									"type": "string"
								},
								"content": {
									"type": "string"
								}
							}
						},
						"sender": {
							"type": "object",
							"properties": {
								"emailAddress": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"address": {
											"type": "string"
										}
									}
								}
							}
						},
						"from": {
							"type": "object",
							"properties": {
								"emailAddress": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"address": {
											"type": "string"
										}
									}
								}
							}
						},
						"toRecipients": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"emailAddress": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"address": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"ccRecipients": {
							"type": "array"
						},
						"bccRecipients": {
							"type": "array"
						},
						"replyTo": {
							"type": "array"
						},
						"uniqueBody": {
							"type": "object",
							"properties": {
								"contentType": {
									"type": "string"
								},
								"content": {
									"type": "string"
								}
							}
						},
						"flag": {
							"type": "object",
							"properties": {
								"flagStatus": {
									"type": "string"
								}
							}
						},
						"attachments": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"lastModifiedDateTime": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"contentType": {
										"type": "string"
									},
									"size": {
										"type": "integer"
									},
									"isInline": {
										"type": "boolean"
									},
									"contentId": {
										"type": "string"
									},
									"contentLocation": {
										"type": "null"
									},
									"contentBytes": {
										"type": "string"
									},
									"ODataType": {
										"type": "string"
									}
								}
							}
						},
						"ODataType": {
							"type": "string"
						},
						"puser": {
							"type": "string"
						},
						"ptenant": {
							"type": "string"
						},
						"pAdditionalInfo": {
							"type": "null"
						},
						"datarow": {
							"type": "integer"
						},
						"userrow": {
							"type": "integer"
						},
						"pagerow": {
							"type": "integer"
						},
						"rowinformation": {
							"type": "object",
							"properties": {
								"errorInformation": {
									"type": "null"
								},
								"userReturnedNoData": {
									"type": "boolean"
								},
								"isUserSummaryRow": {
									"type": "boolean"
								},
								"userHasCompleteData": {
									"type": "boolean"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "mgdc"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"aboutMe": {
							"type": "string"
						},
						"birthday": {
							"type": "string"
						},
						"hireDate": {
							"type": "string"
						},
						"interests": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"mySite": {
							"type": "string"
						},
						"pastProjects": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"preferredName": {
							"type": "string"
						},
						"responsibilities": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"schools": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"skills": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"accountEnabled": {
							"type": "boolean"
						},
						"ageGroup": {
							"type": "null"
						},
						"businessPhones": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"city": {
							"type": "string"
						},
						"companyName": {
							"type": "null"
						},
						"consentProvidedForMinor": {
							"type": "null"
						},
						"country": {
							"type": "string"
						},
						"createdDateTime": {
							"type": "string"
						},
						"department": {
							"type": "string"
						},
						"displayName": {
							"type": "string"
						},
						"givenName": {
							"type": "string"
						},
						"id": {
							"type": "string"
						},
						"imAddresses": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"jobTitle": {
							"type": "string"
						},
						"legalAgeGroupClassification": {
							"type": "null"
						},
						"mail": {
							"type": "string"
						},
						"mailNickname": {
							"type": "string"
						},
						"mobilePhone": {
							"type": "null"
						},
						"officeLocation": {
							"type": "string"
						},
						"onPremisesImmutableId": {
							"type": "null"
						},
						"onPremisesLastSyncDateTime": {
							"type": "null"
						},
						"onPremisesSecurityIdentifier": {
							"type": "null"
						},
						"onPremisesSyncEnabled": {
							"type": "null"
						},
						"passwordPolicies": {
							"type": "null"
						},
						"postalCode": {
							"type": "string"
						},
						"preferredLanguage": {
							"type": "string"
						},
						"proxyAddresses": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"state": {
							"type": "string"
						},
						"streetAddress": {
							"type": "string"
						},
						"surname": {
							"type": "string"
						},
						"usageLocation": {
							"type": "string"
						},
						"userPrincipalName": {
							"type": "string"
						},
						"userType": {
							"type": "string"
						},
						"assignedLicenses": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"disabledPlans": {
										"type": "array"
									},
									"skuId": {
										"type": "string"
									}
								}
							}
						},
						"assignedPlans": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"assignedDateTime": {
										"type": "string"
									},
									"capabilityStatus": {
										"type": "string"
									},
									"service": {
										"type": "string"
									},
									"servicePlanId": {
										"type": "string"
									}
								}
							}
						},
						"provisionedPlans": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"capabilityStatus": {
										"type": "string"
									},
									"provisioningStatus": {
										"type": "string"
									},
									"service": {
										"type": "string"
									}
								}
							}
						},
						"puser": {
							"type": "string"
						},
						"ptenant": {
							"type": "string"
						},
						"pAdditionalInfo": {
							"type": "null"
						},
						"datarow": {
							"type": "integer"
						},
						"userrow": {
							"type": "integer"
						},
						"pagerow": {
							"type": "integer"
						},
						"rowinformation": {
							"type": "object",
							"properties": {
								"errorInformation": {
									"type": "null"
								},
								"userReturnedNoData": {
									"type": "boolean"
								},
								"isUserSummaryRow": {
									"type": "boolean"
								},
								"userHasCompleteData": {
									"type": "boolean"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "mgdc"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Office365Table1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Office365",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Office365Table",
				"schema": [],
				"typeProperties": {
					"tableName": "BasicDataSet_v0.Message_v1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Office365')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Office365Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Office365",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Office365Table",
				"schema": [],
				"typeProperties": {
					"tableName": "BasicDataSet_v0.User_v1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Office365')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "https://nikadfmgdc.blob.core.windows.net",
					"tenant": "027d8585-9664-42ed-ae2a-c9e9fddfda22",
					"servicePrincipalId": "36a5fe5a-c72a-40b1-87fb-08d8306d10dd",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "**********"
					},
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://nikadfmgdc.dfs.core.windows.net",
					"tenant": "027d8585-9664-42ed-ae2a-c9e9fddfda22",
					"servicePrincipalId": "36a5fe5a-c72a-40b1-87fb-08d8306d10dd",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Office365')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Office365",
				"typeProperties": {
					"office365TenantId": "027d8585-9664-42ed-ae2a-c9e9fddfda22",
					"servicePrincipalTenantId": "027d8585-9664-42ed-ae2a-c9e9fddfda22",
					"servicePrincipalId": "36a5fe5a-c72a-40b1-87fb-08d8306d10dd",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergeData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "Messages"
						},
						{
							"dataset": {
								"referenceName": "Json2",
								"type": "DatasetReference"
							},
							"name": "Users"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Json3",
								"type": "DatasetReference"
							},
							"name": "MyResult"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						}
					],
					"script": "source(output(\n\t\tid as string,\n\t\tcreatedDateTime as string,\n\t\tlastModifiedDateTime as string,\n\t\tchangeKey as string,\n\t\tcategories as string[],\n\t\treceivedDateTime as string,\n\t\tsentDateTime as string,\n\t\thasAttachments as boolean,\n\t\tinternetMessageId as string,\n\t\tsubject as string,\n\t\tbodyPreview as string,\n\t\timportance as string,\n\t\tparentFolderId as string,\n\t\tconversationId as string,\n\t\tconversationIndex as string,\n\t\tisDeliveryReceiptRequested as string,\n\t\tisReadReceiptRequested as boolean,\n\t\tisRead as boolean,\n\t\tisDraft as boolean,\n\t\twebLink as string,\n\t\tinferenceClassification as string,\n\t\tinternetMessageHeaders as (name as string, value as string)[],\n\t\tbody as (contentType as string, content as string),\n\t\tsender as (emailAddress as (name as string, address as string)),\n\t\tfrom as (emailAddress as (name as string, address as string)),\n\t\ttoRecipients as (emailAddress as (name as string, address as string))[],\n\t\tccRecipients as string[],\n\t\tbccRecipients as string[],\n\t\treplyTo as string[],\n\t\tuniqueBody as (contentType as string, content as string),\n\t\tflag as (flagStatus as string),\n\t\tattachments as (id as string, lastModifiedDateTime as string, name as string, contentType as string, size as string, isInline as boolean, contentId as string, contentLocation as string, contentBytes as string, ODataType as string)[],\n\t\tODataType as string,\n\t\tpuser as string,\n\t\tptenant as string,\n\t\tpAdditionalInfo as string,\n\t\tdatarow as string,\n\t\tuserrow as string,\n\t\tpagerow as string,\n\t\trowinformation as (errorInformation as string, userReturnedNoData as boolean, isUserSummaryRow as boolean, userHasCompleteData as boolean)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> Messages\nsource(output(\n\t\taboutMe as string,\n\t\tbirthday as string,\n\t\thireDate as string,\n\t\tinterests as string[],\n\t\tmySite as string,\n\t\tpastProjects as string[],\n\t\tpreferredName as string,\n\t\tresponsibilities as string[],\n\t\tschools as string[],\n\t\tskills as string[],\n\t\taccountEnabled as boolean,\n\t\tageGroup as string,\n\t\tbusinessPhones as string[],\n\t\tcity as string,\n\t\tcompanyName as string,\n\t\tconsentProvidedForMinor as string,\n\t\tcountry as string,\n\t\tcreatedDateTime as string,\n\t\tdepartment as string,\n\t\tdisplayName as string,\n\t\tgivenName as string,\n\t\tid as string,\n\t\timAddresses as string[],\n\t\tjobTitle as string,\n\t\tlegalAgeGroupClassification as string,\n\t\tmail as string,\n\t\tmailNickname as string,\n\t\tmobilePhone as string,\n\t\tofficeLocation as string,\n\t\tonPremisesImmutableId as string,\n\t\tonPremisesLastSyncDateTime as string,\n\t\tonPremisesSecurityIdentifier as string,\n\t\tonPremisesSyncEnabled as string,\n\t\tpasswordPolicies as string,\n\t\tpostalCode as string,\n\t\tpreferredLanguage as string,\n\t\tproxyAddresses as string[],\n\t\tstate as string,\n\t\tstreetAddress as string,\n\t\tsurname as string,\n\t\tusageLocation as string,\n\t\tuserPrincipalName as string,\n\t\tuserType as string,\n\t\tassignedLicenses as (disabledPlans as string[], skuId as string)[],\n\t\tassignedPlans as (assignedDateTime as string, capabilityStatus as string, service as string, servicePlanId as string)[],\n\t\tprovisionedPlans as (capabilityStatus as string, provisioningStatus as string, service as string)[],\n\t\tpuser as string,\n\t\tptenant as string,\n\t\tpAdditionalInfo as string,\n\t\tdatarow as string,\n\t\tuserrow as string,\n\t\tpagerow as string,\n\t\trowinformation as (errorInformation as string, userReturnedNoData as boolean, isUserSummaryRow as boolean, userHasCompleteData as boolean)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> Users\nMessages, Users join(Messages@puser == Users@id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> MyResult"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/Json2')]",
				"[concat(variables('factoryId'), '/datasets/Json3')]"
			]
		}
	]
}